[2020-05-12 15:10] drewclem opened #53 "Fancify hero text animation"
The underlined text in the hero section currently just fades in and out to the next word.

It would be absolutely amazing if the words typed out and backspaced, as though it was a person typing in a text field!

We're open to suggestions and libraries to help make this happen.

![Screen Shot 2020-05-12 at 11 02 26 AM](https://user-images.githubusercontent.com/36208622/81711016-37500e80-9441-11ea-8

[2020-05-12 15:12] drewclem opened #54 "Add github link in footer"
The footer needs a link that directs towards the listing of issues for Protege.dev.

It can be placed below 'Post a job' and should read 'Contribute to Protege'

![Screen Shot 2020-05-12 at 11 12 36 AM](https://user-images.githubusercontent.com/36208622/81711277-7da56d80-9441-11ea-83ca-de6d0cac31f8.png)

[2020-05-12 15:23] drewclem opened #55 "General improvements"
Hey! We're assuming that if you're here then you're considering contributing to our mission, and that's great!

If you see something you think could be improved on any area of the site we want to hear about it!

Comment your ideas for improvements below and let's have a chat about implementing it!

A company is only as strong as the community it serves and we'd love for you to help us serve it bet

[2020-05-14 05:05] #54 closed

[2020-05-14 05:05] #53 closed

[2020-05-22 14:03] drewclem opened #65 "JobCard reads timestamp incorrectly"
The timestamp in our job card component is displaying one month ahead of what it should be. Any current listings should be from the month of May.

https://github.com/drewclem/protege/blob/master/src/components/JobCard.js

![Screen Shot 2020-05-22 at 10 00 57 AM](https://user-images.githubusercontent.com/36208622/82675664-235f9600-9c13-11ea-8b13-b7fe5c7711b5.png)

[2020-05-22 14:05] drewclem opened #66 "Email sign up doesn't clear after submit"
The input field for the email sign up should clear itself out after someone clicks the submit button.

https://github.com/drewclem/protege/blob/master/src/components/Footer.js

[2020-05-22 16:32] ottogutierrez commented on #66
I can work on this if that's ok

[2020-05-22 16:50] drewclem commented on #66
That'd be fantastic. Ping me if you need anything

[2020-05-22 17:00] ottogutierrez commented on #66
Thanks! I had a couple of min and I'm ready to submit the pull request. Quick question, should I request to merge to Master or Development branch?

[2020-05-22 17:04] drewclem commented on #66
PR to development

[2020-05-22 17:12] ottogutierrez commented on #66
Sounds good. PR (#67) submitted!

[2020-05-22 17:29] ottogutierrez commented on #65
Submitted a PR for this one as well ( #68 )

[2020-05-23 01:28] DZuz14 commented on #55
https://github.com/drewclem/protege/blob/10e4d82bc7508fba71f6d3ea6fedb5b7e238e8c4/src/components/JobTemplate.js#L39

[2020-05-23 01:31] DZuz14 commented on #55
Does that useEffect call need to run on every re-render? Also, all of those if statements execute regardless of which conditional matches due to no use of else if.

Might even be easier to create a lookup object sort of like you did with the styles for each element, and abstract the logic away into a separate function that can be passed to the forEach.

[2020-05-23 01:34] DZuz14 commented on #55
Also, quillStyle object can be moved out of the component and put under your import statements etc. No need to recreate it on every rerender

[2020-05-25 17:02] drewclem commented on #55
This is great input! I'll put it in an issue.

[2020-05-25 17:05] drewclem opened #70 "Refactor useEffect() in JobTemplate.js"
@DZuZ14 made some good observations on ways this useEffect could be tidied up.

[2020-05-25 17:06] #65 closed

[2020-05-25 17:06] pickleat commented on #55
I’ve been meaning to refactor this. I did so on my portfolio site with the
same problem. For the look ups.

On Mon, May 25, 2020 at 12:02 PM Drew Clements <notifications@github.com>
wrote:

[2020-05-25 17:11] pickleat commented on #70
Great stuff! I’ve been meaning to refactor this. I did so on my portfolio site with the same problem. Although I’m not sure why we’d move the quillStyle object out. It isn’t used anywhere else.

[2020-05-25 21:34] pickleat commented on #70
@DZuz14 do you want to take this one? I don't want to step on your toes if you were planning on it.

[2020-05-26 12:28] pickleat commented on #70
Working on this.

[2020-06-02 21:51] #70 closed

[2020-06-16 03:51] seanwash opened #75 "Readme/contribution guide lines?"
Hey @drewclem! Any chance we could get a readme or a guide on how to get started contributing to this project?

[2020-06-16 13:47] drewclem commented on #75
Sure!

[2020-06-16 13:57] #75 closed

[2020-06-18 04:39] #66 closed

[2020-06-24 20:17] laurentcodes commented on #55
I feel more learning resources could be added to the two lists

[2020-06-24 22:23] forresthayes commented on #55
Hi, thanks for building this job board!

Maybe I missed it, but it would be nice to have a link to protege.dev in this repo's About section or readme file.

[2020-06-25 00:58] drewclem commented on #55
@laurentcodes You're absolutely correct! As it stands, this list is basically anything @pickleat and I could think of when we launched. We're absolutely open to adding more to both sections. If there's any you have in mind, you can mention them here - or fork the repo and add them through a PR.

@forresthayes That is a definite 10-4, and I can't believe I forgot to put that in originally. Thanks f

[2020-06-25 01:08] laurentcodes commented on #55
Sure, will do that first thing in the morning, cheers.

[2020-06-30 02:53] drewclem opened #82 "Create contributors page"
One thing we absolutely want to do is highlight the amazing people contributing their time to helping here. This issue will be to create a contributors page that allows that. When it comes to adding data to the table, just add a few entries of dummy-text and we'll update it once the PR is approved.

There will be a few steps needed to complete this task - there's a design comp at the bottom of thi

[2020-06-30 02:56] drewclem opened #83 "Nav needs active state"
Our nav currently has a hover state but lacks any indication of which page the user is currently on.

The active state can be the same as the hover state - it just needs to persist when a user is on that given page.

![Screen Shot 2020-06-29 at 10 56 42 PM](https://user-images.githubusercontent.com/36208622/86078298-cea60b00-ba5b-11ea-902f-97ac76e07707.png)

[2020-06-30 03:09] drewclem opened #84 "Disable 'apply' buttons on job listing preview"
Currently, stage 2 of the _Post a job_ form displays what the job listing will look like for the user's approval. However, the apply buttons are active and if clicked will redirect the user, resulting in them losing any data they'd previously entered.

Stage 2 of the form is being rendered by JobTemplate.js. I think this could be accomplished by checking the route? I.E. If the route is not /job-bo

[2020-06-30 03:11] drewclem opened #85 "Add placeholder to URL inputs in job form"
The url inputs 'How to Apply' and 'Company Website' require http:// or https:// to pass validation. However, this isn't apparent from the ui. This is in the PostAJobForm.js file

All we need to do is add a placeholder indicating one or the other is required.

[2020-06-30 03:19] drewclem opened #86 "Add loading spinner"
As with any project, there's a delay between when a user reaches a page and when the data is rendered. The sections we're primarily interested in for this issue is the homepage's 'Latest Opportunities' and the list on the job board page.

What's needed is a loading spinner that renders while the data is being retrieved.

- [x] Create LoadingSpinner.js component
- [x] create loading hook in each pa

[2020-06-30 04:48] ottogutierrez commented on #82
Hi there! I would like to work on this. Is there a specific timeline you need to see this done?

[2020-06-30 08:10] saramccombs commented on #85
I’ll happily tackle this one.

[2020-06-30 13:36] drewclem commented on #82
No timeline!

[2020-06-30 14:53] ottogutierrez commented on #82
Ok sounds good! I’ll be sending you an email tonight with some questions then 😀

[2020-06-30 14:56] drewclem commented on #82
Looking forward to it

[2020-07-06 15:22] pickleat commented on #82
Reviewing this now @ottogutierrez!

[2020-07-06 16:06] pickleat commented on #82
All the requirements are fulfilled. Thanks @ottogutierrez!

[2020-07-06 16:08] #82 closed

[2020-07-06 16:13] pickleat opened #88 "Improvements to Contributors Page"
- [x] Design a Contributors Page that pulls in the info from all contributors.
- [x] Add content that points a potential contributor in the right direction.
- [x] Use the GitHub API to pull all the contributors dynamically into the contributors page. [GitHub API endpoint](https://api.github.com/repos/drewclem/protege/contributors) is the endpoint.
- [x] Make it Mobile Responsive.

[2020-07-06 19:35] saramccombs commented on #86
Would love to tackle this one.

[2020-07-06 19:36] pickleat commented on #86
Go for it @saramccombs!

[2020-07-06 23:49] drewclem commented on #85
Thanks @saramccombs !

[2020-07-06 23:49] #85 closed

[2020-07-08 11:59] pickleat opened #91 "Fix Typo on Contact Page"
[Contact Page](https://protege.dev/get-in-touch)
Has a typo.

"Feeback? Complaints? Feature requests? Questions? We want to hear them all!"

[2020-07-08 15:13] pickleat commented on #88
Completed with PR #93.

[2020-07-08 15:13] #88 closed

[2020-07-08 15:21] #91 closed

[2020-07-08 19:29] ottogutierrez commented on #83
I would love to tackle this one!

[2020-07-08 19:52] drewclem commented on #83
@ottogutierrez All yours!

[2020-07-09 15:38] drewclem opened #94 "Add skeleton content to learning resources page"
The learning resources page is making multiple calls to retrieve images for the resources listed. It's not terribly slow, but it could be improved by adding a skeleton loader that mimics the shape of the content that will render later. Example below.

The loading state is being set in two places in Contributors.js. I'm not sure which would be the better place for the loader to go. Surprise me!

Pi

[2020-07-09 15:41] mrsantons commented on #94
Ill take this one! Woop Woop

[2020-07-09 15:42] drewclem commented on #94
All yours!

[2020-07-09 19:33] ottogutierrez commented on #83
Hi guys, for the mobile version, is the active link required? and would you like the same styling?

[2020-07-09 19:49] drewclem commented on #83
Yeah, just give it full opacity

[2020-07-09 20:02] ottogutierrez commented on #83
Ok no problem! Thanks!

[2020-07-10 02:12] #83 closed

[2020-07-10 04:33] forresthayes commented on #84
I’ll take this one!

[2020-07-10 17:39] drewclem commented on #84
All yours!

[2020-07-12 02:55] #84 closed

[2020-07-17 14:05] pickleat opened #97 "Add "Find a Job" Link to the Mobile Nav."
Add "Find A Job" link that goes to the job board (same location as the desktop link).

Requirements:

- [x] Add the link to the mobile nav.
- [x] Text should read "Find a Job"
- [x] Should go to the [Job Board](https://protege.dev/job-board)
- [x] Should be First in the list, above "Learning Resources"

Below you'll see the link is missing.
![Screen Shot 2020-07-17 at 09 01 14-fullpage](https://us

[2020-07-17 22:45] pickleat commented on #97
Everything looks great, merging in!

[2020-07-17 22:51] #97 closed

[2020-07-20 16:56] drewclem opened #100 "Job Listing <li> not taking styling"
Any text on a job listing page should be the brand's dark-blue. However, li tags seem to not be getting the proper styling (pictured below).

Completion checklist
[ ] A job listing page renders properly
[ ] All text in the job description renders the same blue as others

![Screen Shot 2020-07-20 at 12 52 33 PM](https://user-images.githubusercontent.com/36208622/87964209-e33c5880-ca87-11ea-956b-fc3

[2020-07-21 13:51] pickleat commented on #94
Hey @mrsantons just wanted to check in and see if you need any help here.

[2020-07-21 13:52] pickleat commented on #86
Hey @saramccombs just checking in. Everything going ok?

[2020-07-21 13:56] saramccombs commented on #86
You must have been reading my mind. I had this issue open to provide an update after my 9am meeting.

Slightly delayed due to a  recent family emergency with my dad (he's ok) and an interview yesterday. Working on it still. :)

[2020-07-21 14:04] pickleat commented on #86
No worries at all @saramccombs, glad he is ok! Just wanted to offer support if needed. Let me know if you do! Thanks again!

[2020-07-24 04:08] kylemhudson commented on #55
@drewclem just pushed a new branch to my forked repo at https://github.com/kylemhudson/protege/tree/feature/resource-cards

Working on laying out the Learning Resources into cards with images, a title, description, and eventually tags.

Not doing a PR yet until I get the rest of the cards implemented. Let me know if I'm missing a step or if you want to discuss. Attaching a screenshot here of WIP.

[2020-07-24 09:12] laurentcodes commented on #55
This is nice 👍

[2020-07-24 15:24] DZuz14 commented on #94
Why not something simple like one line of text that says, "Checking for contributors...", and don't show anything until all contributors are available?

[2020-07-24 15:24] DZuz14 commented on #94
Something simple could allow more important things to be worked on.

[2020-07-24 15:52] drewclem commented on #94
It's partially a personal preference on my part - but we'll also be using skeleton loaders in other places in the future so this is also kind of getting that standard in place.

It gets funky if you throttle the connection down and you end up with some cards rendered and some not - skeleton loader until all are finished would fix that. I like the idea of a timer though!

[2020-07-25 20:41] #100 closed

[2020-07-26 18:11] DZuz14 commented on #94
Yeah, skeleton seems easier actually. I might look into this is I have some time. I can look at my schedule in a bit.

[2020-07-26 18:48] DZuz14 commented on #94
From what I saw from `react-placeholder`, it wouldn't be too hard to do something like that ourselves.

Quick off the top of my head idea:

## Simple Skeleton
[code]
- `text | round | rect | video | img | ...etc`

Passing one of these types as a prop would result in a default pre-styled component for that type to be rendered.

## More Complex Skeleton
[code]

Could be fun to mess around with if ke

[2020-07-26 18:49] DZuz14 commented on #94
@mrsantons @drewclem @pickleat

[2020-07-27 01:36] drewclem commented on #94
My initial thought was to just build a skeleton from scratch anytime we needed one - but I like the idea of having a lib we can just drop in to handle it for us.

Would save us a ton of time in the long run with fewer things we have to worry about breaking.

Thanks for this input @DZuz14, I'm liking what I see what react-loading-skeleton

[2020-07-27 03:05] pickleat commented on #94
Marie got a new job and isn't able to take this one if someone else wants to jump in!

[2020-07-27 14:29] DZuz14 commented on #94
If you guys have anything more difficult that needs solving I'd be glad to hear about what it is. I'll have to pass on this one.

[2020-07-27 14:31] DZuz14 commented on #94
^ not saying this isn't difficult, but it seems better suited towards someone looking for experience.

[2020-07-27 14:33] DZuz14 commented on #86
Would the new idea of React Placeholder remove the necessity for this? Just wondering.

[2020-07-27 14:35] DZuz14 commented on #55
If you guys need any help with backend code, I'd be down to help.

[2020-07-27 14:45] drewclem commented on #86
@DZuz14 Not at all. The job cards will be the one place where we use a spinner and not a placeholder loader.

With the cards, we want a spinner to (hopefully) give the idea that the app is gathering all of the jobs - "we don't know how many or what they are, but we're grabbing them all and dropping them in front of you."

Whereas with the other content, that was created by us, the idea is more of

[2020-07-27 14:49] drewclem commented on #55
@DZuz14 That will be coming in the near future.

Right now we're using firebase for our backend/dashboard but I'm about to start building our own dashboard, and when we have that up and running, we'll be looking to move to a different setup for a backend/database.

[2020-07-29 14:28] #86 closed

[2020-07-31 18:09] saramccombs commented on #94
I'd be game to work on this. Would help me dive into a React concept I haven't touched before. But, also, totally not wanting to horde the issues from others since I've previously contributed.

[2020-08-04 15:32] drewclem commented on #94
@saramccombs It's all yours!

[2020-08-04 18:27] saramccombs commented on #94
Awesome, I'm on it. Feel free to assign it to me.

[2020-08-14 03:31] nickytonline opened #114 "Consider adding husky and lint-staged for precommit tasks"
In the spirit of keeping code maintainable, pre-commit tasks are a blessing. Consider adding [husky](https://github.com/typicode/husky) and [lint-staged](https://github.com/okonet/lint-staged) for managing pre-commit tasks.

Examples of pre-commit tasks can include running tests, linting and formatting. For a real world example of this in action, see https://github.com/forem/forem/blob/master/pack

[2020-08-17 16:50] saramccombs commented on #94
Update: Working on it. Got a job (!!!!) in the middle and had to press pause for a moment.

[2020-08-17 17:27] drewclem commented on #94
@saramccombs Woohoo!! Congratulations!

[2020-08-17 20:22] nickytonline opened #116 "Generate list of contributors at build time"
Currently Contributors.js hits the GitHub API to retrieve the list of contributors to this repository and then makes *n* (number of contributors) calls again to the GitHub API to retrieve additional information about contributors.

Consider building the list of contributors at build time since this list only ever changes when new commits are pushed to the main branch.

It will make the Contributor

[2020-08-18 13:19] drewclem commented on #94
Congrats on the job!

[2020-08-18 13:24] drewclem commented on #116
resolved with https://github.com/drewclem/protege/pull/115

[2020-08-18 13:24] #116 closed

[2020-08-19 04:19] nickytonline opened #118 "Accessibility Issues"
Accessibility Issues

In the PostAJobForm.js file, the `htmlFor` JSX prop (rendered as [for](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label#attr-for) HTML attribute) should be `position-type` not `positionType` .

![image](https://user-images.githubusercontent.com/833231/90591592-782e9080-e1b1-11ea-86e0-3e2ef1478726.png)

![image](https://user-images.githubusercontent.com/833231/9

[2020-08-19 04:22] nickytonline opened #119 "Consider adding a GitHub issue template"
The title says it all. 😎 Consider adding a GitHub issue template. If you are looking for inspiration, see Forem's issue templates in https://github.com/forem/forem/tree/master/.github/ISSUE_TEMPLATE .

[2020-08-19 04:24] nickytonline opened #120 "Consider adding a GitHub PR template"
The title says it all. 😎 Consider adding a GitHub PR template. If you are looking for inspiration, see Forem's [PR template](https://github.com/forem/forem/blob/master/.github/PULL_REQUEST_TEMPLATE.md).

[2020-08-19 04:56] nickytonline commented on #118
Note that are still other accessibility issues in the site. Take the Axe browser extension ([Chrome](https://chrome.google.com/webstore/detail/axe-web-accessibility-tes/lhdoppojpmngadmnindnejefpokejbdd) | [Firefox](https://addons.mozilla.org/en-CA/firefox/addon/axe-devtools/)) for a spin to find more future contributors!

[2020-08-19 14:08] nickytonline opened #122 "Add a license to the project"
There appears to be no license for the project. It’d be good to add one. If you’re not sure which license to use, check out [choosealicense.com](https://choosealicense.com/).

[2020-08-19 19:13] drewclem commented on #118
@nickytonline Thanks for this issue! I'll definitely comb through with Axe to find our other issues and get them up

[2020-08-20 03:58] nickytonline commented on #118
There is also the WebAIM [WAVE browser extension](https://wave.webaim.org/extension).

[2020-08-20 04:28] drewclem commented on #118
Resolved with https://github.com/drewclem/protege/pull/121

[2020-08-20 04:28] #118 closed

[2020-08-20 16:16] jhuynh85 opened #127 "Error: 'bin' is not recognized as an internal or external command, operable program or batch file"
**STEPS TO REPRODUCE**
1. On a Windows machine, run `npm start`

**RESULT**
`npm start` will fail with the error `'bin' is not recognized as an internal or external command,
operable program or batch file.`

**ADDITIONAL INFO**
This error is due to `npm start` also running the `get-contributors` script which is the command `bin/generate-contributors-json.js`. This is not recognized as a valid comm

[2020-08-20 16:17] jhuynh85 commented on #127
Let me know if you guys want to fix this and which solution you prefer

[2020-08-21 15:22] nickytonline opened #130 "Consider renaming master to main"
Consider renaming master to main.

@sw-yx has a nice [cheat sheet](https://dev.to/swyx/move-primary-git-branch-from-master-to-main-m7c) for this.

[2020-08-24 00:42] drewclem commented on #122
Addressed in https://github.com/drewclem/protege/pull/132 by @muchirijane. Thanks again!

[2020-08-24 00:42] #122 closed

[2020-08-24 17:50] muchirijane commented on #130
Hey, Let me try working on this issue 👍🏽

[2020-08-24 18:06] muchirijane commented on #130
Quick question, should I use feature/main branch or just main as a branch.

[2020-08-25 19:54] pickleat opened #135 "404 Page / Redirect"
If you type any non-sense after protege.dev/{nonSense} it doesn't redirect or give a 404 page.
- [ ] Create a new `404.js` page in the `/pages` directory
- [ ] Logic to redirect to the new `404.js` page for any page request that does not exist.

[2020-08-26 20:35] drewclem commented on #119
resolved with https://github.com/drewclem/protege/pull/136

[2020-08-26 20:35] #119 closed

[2020-08-26 20:36] drewclem commented on #130
That's a good question that I don't have the answer to. @pickleat or @nickytonline Any ideas on how to handle this?

[2020-08-26 20:42] pickleat commented on #130
I think it needs to be the base branch so just `main` @drewclem you'll need to update the netlify configs once it's fixed up! And then we'll delete the old branching. We also need to make sure `develop` is based off the up to date version of the branch.

[2020-08-26 21:47] nickytonline commented on #130
This is a task that a contributor cannot do. It will have to be maintainer of the project. This change cannot be completed via a PR.

- As @pickleat mentioned, once the branch has been renamed, ensure that the Netlify build is pointing to the `main` branch.
- In regards to the `develop` branch, nothing will need to be done as long as it is up to date before renaming `master`. Once the change has b

[2020-08-26 21:52] pickleat commented on #130
Thanks for the clarification @nickytonline, looks like this one is on you @drewclem.

[2020-08-27 07:45] muchirijane commented on #130
I totally understand. 💯

[2020-08-28 02:03] saramccombs commented on #94
Assuming when @nickytonline's PR has merged the need for this feature ceases as he mentioned in #116. Can you confirm this?

While I've been significantly behind on this contribution due to family emergencies and a new job, this issue seems to be rather lucky for those who are job hunting. ❤️

[2020-08-28 02:10] drewclem commented on #130
Done!

[2020-08-28 02:10] #130 closed

[2020-08-28 02:23] drewclem commented on #94
That's probably true. The learning resources could use one though. It's making a call out to retrieve images from multiple sources.

@saramccombs I'll assign you and rename the issue and we'll see who else we can get hired!

[2020-08-28 02:48] nickytonline commented on #94
As @drewclem mentioned this would be a good PR for other pages that are loading data dynamically.

[2020-08-28 03:08] drewclem opened #140 "Refactor layout component"
## Goal
Refactor Layout.js to check route and set styles itself rather than being dependent on passing a prop and wrap routes globally in App.js.

## Reason
The layout component currently wraps each page component individually. This causes it to be re-rendered for every new route visit.

It was written this way so a variant could be passed and adjust some of the styles from the homepage to the int

[2020-08-28 03:47] nickytonline opened #143 "Add Cypress to the CI/CD Pipeline"
**Is your feature request related to a problem? Please describe.**

Protege deploys to Netlify. The continuous integration / continuous deployment (CI/CD) flow goes like this currently

- Changes are pushed to the `main` branch
- Netlify detects changes and deploys those changes

It would be nice to have Cypress run E2E tests before Netlify pushes the site live. If E2E tests pass, the latest chang

[2020-08-28 11:52] pickleat commented on #120
Closing this as it was resolved by @muchirijane and @drewclem happy to open back up if I misunderstood.

[2020-08-28 11:52] #120 closed

[2020-08-28 15:20] pickleat opened #144 "Update Tailwind to Newest version and incorporate PurgeCSS into our build / dev branches."
## Is your feature request related to a problem? Please describe.

It looks like we are shipping ALL of the generated css that Tailwind creates. This should only be true for _local_ development.

## Describe the solution you'd like

Add a build task to run PurgeCSS to remove all unused CSS from the `main` and `develop` branches, since they are shipped to the browser.
- [Tailwind PurgeCSS Docs](htt

[2020-08-28 20:03] drewclem commented on #144
@pickleat We currently don't have purgecss. Just postcss and tailwind doing their thing.

I like option 1. We're not doing anything extravagant with styling so it should be straight forward.

[2020-08-28 20:10] pickleat commented on #144
Just realized why, purgecss is built in in tailwind ^1.4 so we should also bump up to the newest version as well. and include this.

[2020-08-28 20:12] pickleat commented on #144
Changed the title to reflect that larger scope of this.

[2020-08-30 01:42] drewclem opened #145 "Put Drew and Andy at the bottom of the contributors list"
## Goal

This will place Andy and I at the bottom of the contributors list, under a Founders heading.

## Reason

The purpose of the contributors page is to highlight the amazing individuals who have contributed their time to improving this platform. There's no need to for us to be at the top of this list. Throw us at the bottom underneath a Founders heading.

### Tips

There's a few places that n

[2020-08-30 02:28] nickytonline opened #146 "Accessibility issues on the home page"
## Describe the bug

There are currently accessibility violations on the home page.

## To Reproduce

Steps to reproduce the behavior:

1. Install the [WAVE](https://wave.webaim.org/extension/) browser extension for.
2. Navigate to protege.dev or localhost:3000 if your local development server is running.
2. Click on the WAVE icon in the list of extension of your browser.

![image](https://user-im

[2020-08-30 02:31] nickytonline opened #147 "Accessibilty issues on the Job Board page"
## Describe the bug

There are currently accessibility violations on the job board page.

## To Reproduce

Steps to reproduce the behavior:

1. Install the [WAVE](https://wave.webaim.org/extension/) browser extension for.
2. Navigate to https://protege.dev/job-board or localhost:3000/job-board if your local development server is running.
2. Click on the WAVE icon in the list of extension of your b

[2020-08-30 02:33] nickytonline opened #148 "Accessibilty issues on the Learning Resources page"
## Describe the bug

There are currently accessibility violations on the learning resources page.

## To Reproduce

Steps to reproduce the behavior:

1. Install the [WAVE](https://wave.webaim.org/extension/) browser extension for.
2. Navigate to https://protege.dev/learning-resources or localhost:3000/learning-resources if your local development server is running.
2. Click on the WAVE icon in the

[2020-08-30 02:36] nickytonline opened #149 "Accessibility issues on the Get in Touch page"
## Describe the bug

There are currently accessibility violations on the get in touch page.

## To Reproduce

Steps to reproduce the behavior:

1. Install the [WAVE](https://wave.webaim.org/extension/) browser extension for.
2. Navigate to https://protege.dev/get-in-touch or localhost:3000/get-in-touch if your local development server is running.
2. Click on the WAVE icon in the list of extension

[2020-08-30 02:38] nickytonline opened #150 "Accessibility issues on the Contributors page"
## Describe the bug

There are currently accessibility violations on the contributors page.

## To Reproduce

Steps to reproduce the behavior:

1. Install the [WAVE](https://wave.webaim.org/extension/) browser extension for.
2. Navigate to https://protege.dev/contributors or localhost:3000/contributors if your local development server is running.
2. Click on the WAVE icon in the list of extension

[2020-08-30 02:39] nickytonline opened #151 "Accessibility issues on the Post a Job page"
## Describe the bug

There are currently accessibility violations on the post a job page.

## To Reproduce

Steps to reproduce the behavior:

1. Install the [WAVE](https://wave.webaim.org/extension/) browser extension for.
2. Navigate to https://protege.dev/post-a-job or localhost:3000/post-a-job if your local development server is running.
2. Click on the WAVE icon in the list of extension of you

[2020-08-30 02:41] nickytonline commented on #151
A @drewclem or @pickleat, would it be possible to add an accessibility label for this issue and the other accessibility issues I logged? Thanks!

[2020-08-30 03:10] nickytonline opened #152 "Create a GitHub action to thank people for logging an issue"
## Goal

Even though it is an automated message, it's nice to let contributors know that we've received their issue and we're triaging it and looking into it. It can also provide additional instructions on next steps.

We could even add a "triage" label which will help maintainers with issues.

For an example of this type of workflow in action, see https://github.com/forem/forem/blob/master/.githu

[2020-09-02 23:33] jhuynh85 commented on #114
I can take a stab at this

[2020-09-02 23:48] jhuynh85 commented on #114
I have the following precommit tasks so far:

[code]

Is there anything else you feel we should add?

[2020-09-03 00:05] nickytonline commented on #114
@jhuynh85, I've just assigned this to you.

You can also add Markdown files as well as CSS file for prettier to format. That work for you @drewclem and @pickleat? At some point, we could also look into incorporating [stylelint](https://github.com/stylelint/stylelint) into the project, but baby steps. 😄

[2020-09-03 01:25] drewclem commented on #114
That sounds good to me

[2020-09-03 14:10] pickleat opened #153 "generate-contributors-json.js hits a rate limit if you restart the server often."
## Describe the bug

generate-contributors-json.js hits a rate limit if you restart the dev server often.

## To Reproduce

Restart the dev server multiple times (like say to re-run PostCSS build), eventually you get an error from running the `generate-contributors-json.js` The error isn't clear at first. But adding
`console.log(rawContributors)` to line 65 gets you this error

[code]

## Solution

[2020-09-03 15:53] Nelson-Chinedu commented on #151
Hi @drewclem @pickleat @nickytonline is this issue still open

[2020-09-03 15:54] pickleat commented on #151
I believe so!

[2020-09-03 16:26] nickytonline commented on #151
Assigning it to you @Nelson-Chinedu. For contrast issues, just check with @drewclem for colour changes.

[2020-09-04 03:35] #114 closed

[2020-09-04 12:53] pickleat commented on #144
Running PurgeCSS on this reduced our CSS by 70%!

[2020-09-04 13:06] AlbertoPdRF commented on #145
Hey! I've just found this project and thought about giving a go to this issue. However, I'd like to propose a slightly different approach as the one you outlined. How does filtering contributors first with:

[code]

and then changing line 67 to:

[code]

sound? Also, which classes would you use for the `h3` element?

[2020-09-04 13:13] pickleat commented on #145
In principle that solution makes sense to me! I'd say go for it. We can always tweak.

For the `<h3>` I'd match the classes in the `<h1>` above:
`<h1 className='text-2xl font-semibold text-blue-900 mb-3'>`

[2020-09-04 13:23] drewclem commented on #145
@AlbertoPdRF That sounds great! As @pickleat said, use the H1 for reference - but text-2xl should probably become text-xl or text-lg.

[2020-09-04 13:24] drewclem commented on #144
That's incredible! should this task be closed with our new pre-commit hooks in place? Or are there still items here that needs completing?

[2020-09-04 13:26] pickleat commented on #144
I'm still working on it. There are still some weird config things and some other things that I'm trying to get any unnecessary code of out. I'll put in a PR.

[2020-09-04 13:34] drewclem commented on #144
Ah ok. I misunderstood then. I had the recent pre-commit hooks PR mixed up with this one.

[2020-09-04 16:37] Nelson-Chinedu commented on #151
@nickytonline okay

[2020-09-04 17:01] nickytonline opened #158 "Add a contributing guide to the project"
## Is your feature request related to a problem? Please describe.

The project needs to have a contributing guide. For more information on setting this up, see [Setting guidelines for repository contributors
](https://docs.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors).

Here is an [example contributing guide](https://github.com/forem/forem/blob/ma

[2020-09-04 17:24] Nelson-Chinedu commented on #151
Hi @nickytonline I tried testing locally on my machine but running the server I do get `'bin' is not recognized as an internal or external command,
operable program or batch file.
` any heads up on what to do.

P:S have installed the dependencies

[2020-09-04 17:26] pickleat commented on #151
Yes, this relates to #127, we're all Mac users and not sure how to solve or test that issue honestly.

[2020-09-04 17:27] pickleat commented on #151
I think there is a workaround in that Issue, but I'm not certain. Wish I had a better answer for you 😬 .

[2020-09-04 18:11] nickytonline commented on #151
I'll look into getting #127 sorted out.

[2020-09-04 20:04] drewclem commented on #145
Closed with https://github.com/drewclem/protege/pull/156 Thanks @AlbertoPdRF

[2020-09-04 20:04] #145 closed

[2020-09-05 02:45] nickytonline opened #161 "Add a code of conduct to the project"
## Is your feature request related to a problem? Please describe.

Add a code of conduct to the project. For an example, see https://github.com/forem/forem/blob/master/CONTRIBUTING.md .

## Describe the solution you'd like

N/A

## Describe alternatives you've considered

N/A

### Additional context

N/A

[2020-09-05 03:41] nickytonline commented on #153
You can get a key to avoid this error, but the work in #160 will make this a non-issue.

[2020-09-07 10:48] AlbertoPdRF commented on #135
I'll submit a PR to try and fix this issue :slightly_smiling_face:

[2020-09-07 17:17] Nelson-Chinedu commented on #151
Hi @nickytonline, have you sorted #127 out

[2020-09-07 17:51] nickytonline commented on #151
I'll have a PR up for it tonight. For now, if you want to get started on this, just remove the prestart script temporarily in package.json

[2020-09-07 19:28] #135 closed

[2020-09-08 03:45] #144 closed

[2020-09-09 00:14] #127 closed

[2020-09-09 00:14] #153 closed

[2020-09-11 02:29] #158 closed

[2020-09-11 02:41] #161 closed

[2020-09-11 21:36] drewclem opened #183 "Update form to ask for application link or email"
## Goal

Users can select whether they are providing a link or an email for their 'How to Apply' field. The resulting 'apply' button will render itself accordingly.

## Reason

The form currently assumes it will always be a link. This is problematic as an email address as an href clicks to nowhere, leaving candidates unable to apply for the position they're interested in.

### Tips

Be sure to upd

[2020-09-12 04:01] nickytonline opened #184 "eslint configuration not being picked up"
## Describe the bug

The eslint configuration file is named incorrectly causing the configuration to not be picked up by eslint.

I came about this because I was looking to add an eslint config for the cypress folder. I couldn't figure out why it wasn't working and then I dug into the eslint docs and found the filename in the project for the configuration was incorrect. Since I copied that file to

[2020-09-14 01:45] #184 closed

[2020-09-14 02:46] #140 closed

[2020-09-14 02:47] nickytonline opened #188 "Fix all eslint errors in the application"
## Goal

Now that we have the configuration being picked up thanks to #185, we can start fixing eslint issues. This is an all encompassing issues for eslint errors.

## Reason

When you run eslint, there are over 200 lint errors.

### Tips

* First step is to run `node_modules/.bin/eslint ./src/**/*.js --fix` or use `npx eslint ./src/**/*.js --fix` to automatically fix any errors that eslint is ca

[2020-09-14 02:53] nickytonline commented on #188
Now that the eslint configuration is being picked up properly, there are errors in regards to missing prop types. You will need to run `npm install prop-types` to have access to prop types as they do not ship out of the box with Create React App (CRA).

One of the props is a job entity. I have a common proptype that can be reused wherever a job entity prop type exists.

[code]

The `postedAt` prop

[2020-09-14 04:08] drewclem commented on #188
Solid issue @nickytonline. I'll definitely chip away at this one as I can.

Our husky pre-commit hooks will fail any commit while these errors exist. Is there a way to disable that part of the process while these are getting resolved? From the command line? VScode git integration?

[2020-09-14 04:52] nickytonline commented on #188
@drewclem, while we're fixing eslint issues, you can bypass husky.

When committing code, run e.g. `git commit "my awesome message" --no-verify`

[2020-09-15 22:59] clandau commented on #152
hey, could I take this one if it's not spoken for? It'd be a good intro to Actions which I've wanted to check out.

[2020-09-16 00:11] nickytonline commented on #152
For sure @clandau! Assigning it to you now.

[2020-09-24 03:07] drewclem commented on #188
Closed with #194 #195 #196

[2020-09-24 03:07] #188 closed

[2020-09-27 05:35] #55 closed

[2020-09-28 17:48] drewclem opened #200 "Cursor stuck in wysiwyg editor fields with keyboard navigation"
## Describe the bug

Cursor gets stuck in wysiwyg textarea when using keyboard navigation

## To Reproduce

Steps to reproduce the behavior:

1. Got to protege.dev/post-a-job
2. Press the tab key to navigate through the form fields.
3. Once you get to the 'Job Description' field, you'll notice you cannot tab out of it

## Expected behavior

Pressing tab key in wysiwyg editor fields will take you t

[2020-09-28 19:48] drewclem opened #201 "Find a Job submenu stays open after click"
## Describe the bug

Clicking the menu item 'Find a Job' navigates you to the job board page, but the submenu remains open

## To Reproduce

Steps to reproduce the behavior:

1. Click the 'Find a Job' menu item from any page on protege.dev
2. You're directed to the correct page, but the submenu stays open

## Expected behavior

The submenu will close when landing on the job board page

## Screensh

[2020-09-29 02:00] #183 closed

[2020-09-30 23:57] mrsantons commented on #201
I'd love to take this :D

[2020-10-01 02:48] drewclem commented on #201
@mrsantons It's all yours! Let me know if you have any questions

[2020-10-01 05:07] muchirijane commented on #120
Hey, @pickleat would you kindly open this issue back I found a solution for it.

[2020-10-01 18:29] mwlai288 commented on #200
Hi! I would like to try and fix this.

[2020-10-01 20:18] drewclem commented on #200
REACT_APP_BASE_URL = "http://localhost:3000"

# Firebase keys
REACT_APP_API_KEY = "AIzaSyAzEXc8yFIBy0nS2EBEZFOgmj2PiY4bnKg"
REACT_APP_AUTH_DOMAIN = "protege-dev-env.firebaseapp.com"
REACT_APP_DATABASE_URL = "https://protege-dev-env.firebaseio.com"
REACT_APP_PROJECT_ID = "protege-dev-env"
REACT_APP_STORAGE_BUCKET = "protege-dev-env.appspot.com"
REACT_APP_MESSAGING_SENDER_ID = "331244112510"
REACT_A

[2020-10-02 02:22] #152 closed

[2020-10-02 02:41] #150 closed

[2020-10-02 02:45] #146 closed

[2020-10-02 02:49] #148 closed

[2020-10-02 02:49] #149 closed

[2020-10-02 02:53] #147 closed

[2020-10-02 14:47] mwlai288 commented on #200
I found that this same bug also occurs in the Company Description text area. Would you like for me to work on this as well or will you create another Issue for it?

[2020-10-02 17:45] drewclem commented on #200
It’s be great if it was fixed in both!!

Drew Clements

On Oct 2, 2020, at 10:47 AM, Will Lai <notifications@github.com> wrote:

﻿
I found that this same bug also occurs in the Company Description text area. Would you like for me to work on this as well or will you create another Issue for it?

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or

[2020-10-03 11:42] muchirijane opened #208 "Contrast Errors on the home page"
## Describe the bug
There are some contrast issues on the home page.

## To Reproduce
Steps to reproduce the behavior:
1. Install the [WAVE](https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh) browser extension either chrome or firefox would be cool.
2. Enter the protege URL https://protege.dev/
3. Go the wave extension and active it by clicking on its

[2020-10-03 11:42] muchirijane opened #209 "Contrast Errors on the find a job page"
## Describe the bug
There are some contrast issues on the home page.

## To Reproduce
Steps to reproduce the behavior:
1. Install the [WAVE](https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh) browser extension either chrome or firefox would be cool.
2. Enter the protege URL => https://protege.dev/job-board
3. Go the wave extension and active it by clic

[2020-10-03 11:48] muchirijane commented on #209
I have a suggestion, can we pick another darker color that's not green to solve the contrast issue.

[2020-10-03 12:03] muchirijane opened #210 "Contrast errors on the learning resources page"
## Describe the bug
Contrast errors on the #tags below the learning resources cards

## To Reproduce

Steps to reproduce the behavior:
1. Install the [WAVE](https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh) browser extension either chrome or firefox would be cool.
2. Enter the protege URL => https://protege.dev/learning-resources
3. Go the wave extens

[2020-10-04 17:19] danieltott opened #213 "eslint config is not connected to CRA"
## Describe the bug

This project is built using Create React App, which includes by default [a pretty extensive setup for eslint](https://www.npmjs.com/package/eslint-config-react-app).

This project _also_ has an eslintrc file. However, you need to tell CRA to use this by adding `EXTEND_ESLINT="true"` to .env, which I'm pretty sure isn't ever done. What this means is that the lint errors you see

[2020-10-04 17:37] danieltott opened #214 "Set up and integrate firebase emulator for local development"
## Goal

To avoid having to give out firebase creds, let's set up and integrate the [Firebase Local Emulator](https://firebase.google.com/docs/emulator-suite). This would allow contributors to run the app locally for development without needing access to the firebase credentials.

## Reason

- Allow contributors to run the project out of the box without needing credentials
- Speed up development b

[2020-10-04 17:56] danieltott opened #215 "Machine-built files are in version control"
## Describe the bug

Any machine-built files should be ignored by version control to avoid confusion and merge conflicts. Currently `src/assets/css/main.css` and `src/data/contributors.json` are there and can be ignored without too much hassle.

## To Reproduce

Steps to reproduce the behavior:

1. Check out current version of `develop`
2. run `npm run build`
3. See changed files in `git status`

[2020-10-04 18:11] danieltott commented on #214
OK looks like there is an emulator:
https://firebase.google.com/docs/functions/local-emulator

Here's an article describing how to hook it up to a react app:
- [Firebase Local Development with Firestore, Cloud Functions and React](https://medium.com/@samshapiro/firebase-local-development-with-firestore-cloud-functions-and-react-c29c188bd60e_
- [Firebase + Create React App](https://peterhrynkow.com

[2020-10-04 18:16] danieltott commented on #214
This might work out for stripe:
https://github.com/adrienverge/localstripe

[2020-10-07 02:49] #201 closed

[2020-10-07 02:53] drewclem commented on #208
Thank you for these a11y issues @muchirijane. We appreciate the effort you put into crafting them so succinctly. However, I believe they were resolved in another PR, but hadn't made it to production when you created these.

I'm going to close the recent a11y issues, but please do not hesitate to bring others to our attention!

[2020-10-07 02:53] #208 closed

[2020-10-07 02:53] drewclem commented on #210
Closed with comment on #208

[2020-10-07 02:53] #210 closed

[2020-10-07 02:54] drewclem commented on #209
Closed with comment on #208

[2020-10-07 02:54] #209 closed

[2020-10-07 02:54] #200 closed

[2020-10-08 13:16] danieltott commented on #214
https://firebase.google.com/docs/emulator-suite

[2020-10-08 13:54] clandau commented on #214
I got this one!

[2020-10-09 19:17] nickytonline opened #218 "Consider a Twitter bot for scheduling new jobs posted"
## Is your feature request related to a problem? Please describe.

Currently the team manually Tweets out job postings. It would remove one more thing to think about if new jobs that were posted could be Tweeted out automatically via a Twitter bot.

## Describe the solution you'd like

A brief Google shows that you can create a webhook for Firebase that the Tweetbot could use.

## Describe alterna

[2020-10-09 19:39] muchirijane commented on #208
@drewclem, Noted 💯.

[2020-10-13 01:29] nickytonline commented on #151
@Nelson-Chinedu, #127 has been resolved.

[2020-10-27 09:28] BekahHW commented on #143
I'd like to work on this if it's something you want.

[2020-10-27 14:34] kldickenson commented on #151
@Nelson-Chinedu @nickytonline  Is this issue still open? If so, let me know if I can help out. -- Karen

[2020-10-27 17:36] nickytonline commented on #143
Assigning this to you @BekahHW .

[2020-10-27 17:36] nickytonline commented on #143
If you have any questions or get stuck on anything, happy to pair.

[2020-10-27 18:02] drewclem commented on #143
Thanks for assigning this @nickytonline. I must've missed the email notification when it came through.

@BekahHW thanks for taking this on! Let me know if you have any questions

[2020-10-28 20:58] BekahHW commented on #143
@drewclem are you ok with me adding the serve package?

[2020-10-28 21:10] drewclem commented on #143
@BekahHW I'm fine with it. Is this to enable cypress tests to run at build time?

[2020-11-16 15:41] JoeChuCodes commented on #151
If it's still open and it looks like it is, can i jump in and work on it?

[2020-11-16 16:49] nickytonline commented on #151
@kldickenson, it is still open. @Nelson-Chinedu has been pretty silent, so I can assign this to you. @JoeChuCodes, since @kldickenson asked first, I've assigned it to them. Karen if you'd like to team up with Joe on this, I leave that up to you.

[2020-11-16 16:52] JoeChuCodes commented on #151
Sure that would be awesome. First time contributor but long time learner. Doesn't seem to hard to fix this :)

[2020-11-28 14:14] clandau commented on #214
hey, I am going to unassign myself. I don't think I'm going to get to it. Sorry!

[2020-11-30 22:56] kldickenson commented on #151
Accessibility audit was done with Axe Chrome extension and PR submitted:

#224

Issues that could not be solved:
Buttons must have descriptive text (x16) - All related to the Job Description editor created with react-quill, see [quilljs/quill, Suggestions for toolbar accessibility #2038](https://github.com/quilljs/quill/issues/2038)

With these changes, Lighthouse score has improved to 94 (from 92

[2020-12-01 00:00] JoeChuCodes commented on #151
Not really you went the same route I did. What about adding descriptors to
the H2's images

On Mon, Nov 30, 2020 at 5:57 PM Karen Dickenson <notifications@github.com>
wrote:

[2020-12-01 15:37] kldickenson commented on #151
@JoeChuCodes Thanks for thinking about the H2s with backgrounds. I don't think a descriptor is necessary on the H2s as the backgrounds are decorative, applied via CSS background-image, and will NOT be perceivable by screenreaders. The text is perceivable since it is not part of the background image.
See [WCAG2.0, 1.1.1 Text Alternative for Decoration, Formatting, Invisible](https://www.w3.org/TR/2

[2021-01-20 15:59] sethburtonhall commented on #214
I recently set this up on a side project and I am looking to jump into contributing. Can I take a look into this one?

[2021-01-20 16:30] drewclem commented on #214
It's all yours @sethburtonhall !

[2021-01-20 18:02] sethburtonhall commented on #94
@drewclem I will take this one. I plan to integrate react-loading-skeleton and put it to use in "Learning Resources", then we can move into using it in other pages that load data dynamically.

[2021-01-20 18:47] sethburtonhall commented on #214
I have the Auth and Firestore emulators up and running in my local env. Now I'd like to seed the Firestore emulator with dev data from the cloud.

Here is an excellent approach but requires a little bit of admin work within Firebase (logging into Firebase via CLI, exporting data, etc...).

https://medium.com/firebase-developers/how-to-import-production-data-from-cloud-firestore-to-the-local-emulat

[2021-01-20 18:51] drewclem commented on #214
The listings (data and number of) doesn't update often. One of the approaches we've considered is a script that generates json at build time.

But that could pose problems if traffic increases, no? Or maybe a firebase function to rebuild the json when it sees a new entry?

[2021-01-20 19:01] sethburtonhall commented on #214
One approach could be to use faker.js within a db write function to populate the local firestore. We could trigger this write within a useEffect or even an "Add mock data" button. But we don't want that in production so may not be the best approach. Regardless, it should be simple enough if I had the correct schema.

The above linked to approach creates a bash script that can be run to populate di

[2021-01-20 19:23] sethburtonhall commented on #94
@drewclem I am not seeing where learning resources is making a call to retrieve images, looks to be hard coded.

https://github.com/drewclem/protege/issues/94#issuecomment-682288041

[2021-01-22 05:42] sethburtonhall commented on #94
Submitted a PR with a solution. Let me know what you think or if you want anything adjusted.

[2021-01-22 13:46] drewclem commented on #94
Closed with #225 Thanks @sethburtonhall

[2021-01-22 13:46] #94 closed

[2021-01-22 20:59] sethburtonhall commented on #214
I submitted a PR for this. Check it out and let me know your thoughts.

https://github.com/drewclem/protege/pull/226

[2021-01-22 21:04] sethburtonhall commented on #213
Definitely a good Idea. I may jump into this to level up my eslint knowledge, I'll see.

[2021-01-23 03:55] sethburtonhall commented on #214
oops, accidentally unassigned myself, please reassign me. Thanks.

[2021-01-24 21:38] BekahHW commented on #143
Finally getting back to this, and digging into it a little bit, I found this [netlify-plugin-cypress](https://github.com/cypress-io/netlify-plugin-cypress). Thoughts on whether this would work?

@nickytonline (Also, Nick, if I can't get this up and running tonight I'm hoping we could pair)

[2021-01-24 22:58] nickytonline commented on #143
Definitely happy to pair if you get stuck @BekahHW.

[2021-01-28 14:13] sethburtonhall commented on #214
@danieltott @drewclem @clandau

Want to give this a look? Maybe we can get it merged today?

https://github.com/drewclem/protege/pull/226

[2021-01-29 15:20] drewclem commented on #214
@sethburtonhall I'm going to look at it over the weekend. I appreciate your effort in putting this together for us!

[2021-02-16 20:18] sethburtonhall opened #227 "Integrate Dark Mode"
## Is your feature request related to a problem? Please describe.
No problem, just a way to improve the user's experience.

## Describe the solution you'd like
Give users the option to view the app in dark mode to better match their devices settings.

## Describe alternatives you've considered
We could support light mode only, but it could be a good opportunity to audit any styling concerns and lo

[2021-02-18 03:37] nickytonline opened #229 "Next Migration: Migrate contributors page to getStaticProps"
## Goal

We currently generate a JSON file at build time that gets a list of all the contributors to the Protege project. This is no longer required as we can leverage Next.js' [getStaticProps](https://nextjs.org/docs/basic-features/data-fetching#getstaticprops-static-generation).

## Reason

Avoids scripts that don't currently work on Windows (without WSL) and we should be leveraging what Next.js

[2021-02-18 03:41] nickytonline opened #230 "Next Migration: Migrate learning resources page to getStaticProps"
## Goal

We currently read a JSON file to list all the learning resources on the learning resources page. This is no longer required as we can leverage Next.js' [getStaticProps](https://nextjs.org/docs/basic-features/data-fetching#getstaticprops-static-generation).

## Reason

Avoids reading a JSON file on each page load and we should be leveraging what Next.js provides out of the box.

### Tips

[2021-02-22 04:47] sethburtonhall commented on #230
closed via https://github.com/drewclem/protege/pull/231

[2021-02-22 04:47] #230 closed

[2021-02-25 17:00] sethburtonhall opened #242 "Improve Lighthouse score"
## Goal

This issue will improve performance, accessibility, best practices and SEO to guarantee the best possible user experience.

This would also close https://github.com/drewclem/protege/issues/151

**Nice to Have:** Implement PWA.

## Reason

This is our current score (in browser incognito mode). We need to score as close to 100 across the board as we can.
![image](https://user-images.githubu

[2021-03-03 04:43] sethburtonhall opened #245 "Social Sign In via Facebook and Google"
Allow users to login via Facebook & Google. Functions exist in [AuthContext.js](https://github.com/drewclem/protege/blob/develop/store/AuthContext.js) and patterns are established in [sign-in.js](https://github.com/drewclem/protege/blob/develop/pages/sign-in.js), [sign-up.js](https://github.com/drewclem/protege/blob/develop/pages/sign-up.js) and [forgot-password.js](https://github.com/drewclem/pro

[2021-03-03 04:44] sethburtonhall commented on #245
@drewclem I'd like to have a quick chat about the design and UI before implementation.

[2021-03-03 05:22] sethburtonhall opened #246 "Add Private Routes and redirects depending on currentUser state"
## Describe the bug

No protected/private routes. All routes are available.

## To Reproduce

Navigate anywhere to see all routes regardless of currentUser state

## Expected behavior

Routes should be protected and dictated by currentUser state.

[2021-03-03 22:27] #229 closed

[2021-03-09 19:16] sethburtonhall commented on #245
We decided to go with Github social sign in only. Closing this.

[2021-03-09 19:16] #245 closed

[2021-03-09 19:18] sethburtonhall commented on #214
closed via https://github.com/drewclem/protege/pull/247

[2021-03-09 19:18] #214 closed

[2021-03-09 19:21] sethburtonhall commented on #213
Closing because issue was resolved incrementally by @nickytonline, @drewclem & @pickleat

[2021-03-09 19:21] #213 closed

[2021-03-09 19:48] sethburtonhall opened #250 "Build Candidate Profile Form"
After signup, a Candidate should be redirected to a form where they can add their profile information.

## DOD:

- [x] user lands on user profile information form after sign up
- [x] frontend validation via our React Hook Form & yup pattern
- [x] user lands on empty dashboard after successful submission
- [x] confirm that uploaded company logo is present on empty dashboard

[2021-03-09 20:42] kldickenson commented on #151
I thought Drew merged the changes I made.

The a11y issues that could not be addressed are part of the integrated text
editor provided by the react-quill plugin.
Per https://github.com/quilljs/quill/issues/2038, I don't think react-quill
has solved them yet.
--
Karen Dickenson
KLD Interactive Design

On Tue, Mar 9, 2021 at 2:24 PM Seth Hall ***@***.***> wrote:

[2021-03-18 03:53] nickytonline opened #254 "Job type drop down does not line up with All Jobs title"
## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

1. Go to http://localhost:3000/job-board
2. The All Jobs heading and job type drop down will not be aligned

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

![image](https://user-images.githubusercontent.com/833231/11157

[2021-03-23 18:32] sethburtonhall commented on #218
@nickytonline Do you have any reference links?

[2021-03-23 18:59] sethburtonhall commented on #218
https://learn.g2.com/how-to-make-a-twitter-bot

[2021-03-23 22:10] nickytonline commented on #218
@sethburtonhall, i do not have any links. Just ideas! 😎

[2021-03-25 13:47] nickytonline opened #255 "Add the jest JavaScript Testing Framework"
## Goal

What will this issue accomplish?

This will allow us to write unit and component tests, where appropriate.

## Reason

It will potentially improve the stability of the app as well as improve confidence in shipping to production.

### Tips

- Install [jest](https://jestjs.io/)
- Install jest plugins. See the [Forem jest configuration](https://github.com/forem/forem/blob/master/jest.config.

[2021-03-25 13:48] nickytonline commented on #255
You mentioned you had wanted to work on this @andreamartz.

[2021-03-25 14:02] andreamartz commented on #255
Yes, I do! Please assign it to me.

[2021-03-31 01:38] sethburtonhall commented on #250
Closed via https://github.com/drewclem/protege/pull/251

[2021-03-31 01:38] #250 closed

[2021-03-31 01:45] sethburtonhall opened #256 "Candidate Edit Profile Not Displaying Default Values"
## Describe the bug

Candidate and Company edit profile forms are not displaying default values

## To Reproduce

Steps to reproduce the behavior:

### Candidate
1. Sign up as Candidate
2. Fill out profile form
3. Save form
4. From Dashboard navigate to Edit Profile

### Company

1. Sign up as Company
2. Fill our profile form
3. Save form
4. From Dashboard navigate to Edit Profile

## Expected beh

[2021-03-31 21:04] sethburtonhall opened #257 "Server Side Form Validation with Firebase Function"
## Goal

Set up server side validation in client forms.

## Reason

The app needs to have both client and server side validation to avoid malicious data.

## Definition of Done

- [ ] edit-profile validation
- [ ] post a job

## Resources
https://firebase.google.com/docs/rules/data-validation

[2021-04-02 15:19] sethburtonhall opened #260 "Translations"
Protegé has internationalization built in to accept language translations. We would like to work with community members to do initial tests before we start integrating languages. Our hope is that through these tests we will refactor and refine this process to create the best translator experience.

WIP: We are still figuring out how to best maintain translations once they are merged, since new con

[2021-04-02 17:00] aurelieverrot commented on #260
I will do the French translations.

[2021-04-02 17:43] danielcarlman commented on #260
Count me in!

[2021-04-03 02:56] nickytonline opened #262 "Improve the database seed script"
## Goal

What will this issue accomplish?

Facilitate the usage of the db seed script.

## Reason

How will this improvement affect the application? Give plenty of context.

Currently if you're firebase project ID is not `'protege-dev-env'`, the database will not be seeded. I came across this when I created my project with the name `'protege-local'`. The script should be reading the `PROJECT_ID` e

[2021-04-05 15:20] #262 closed

[2021-04-05 15:24] sethburtonhall commented on #260
Thanks @aurelieverrot! I merged in your French translations.

@danielcarlman what translations did you have in mind?

[2021-04-05 15:59] sethburtonhall commented on #260
This initial test was successful. We are now ready to take other translations.

[2021-04-05 16:03] sethburtonhall opened #264 "Tailwind Just-In-Time Compiler"
Explore the new JIT build feature in Tailwind to make sure we have an optimized file size.

* https://github.com/tailwindlabs/tailwindcss-jit
* https://blog.tailwindcss.com/just-in-time-the-next-generation-of-tailwind-css
* https://dev.to/this-is-angular/why-tailwind-s-just-in-time-mode-is-a-game-changer-and-how-to-use-it-right-now-36c0

[2021-04-05 17:20] danielcarlman commented on #260
Brazilian Portuguese

[2021-04-06 01:59] #256 closed

[2021-04-06 02:15] nickytonline commented on #114
@drewclem @sethburtonhall, looks like this work got removed when we moved to NEXT.js.

[2021-04-06 03:32] nickytonline commented on #153
This is no longer an issue at all since #228.

[2021-04-06 03:32] nickytonline commented on #127
This is no longer an issue at all since #228.

[2021-04-06 20:16] AlexVCS commented on #257
I'd like to give this a go. It's still available right? Can it be done without having much Firebase experience?

[2021-04-07 17:08] drewclem opened #268 "Clean up ESLint errors across the application"
## Goal
Now that we have the configuration being picked up thanks to #185, we can start fixing eslint issues. This is an all encompassing issues for eslint errors.

## Reason
When you run eslint, there are a lot of errors

## Tips
- First step is to run `yarn eslint --fix pages/**/*.js` to automatically fix any errors that eslint is capable of fixing. ESLint will also provide a list of remaining e

[2021-04-07 23:46] sethburtonhall commented on #257
Hey @AlexVCS We would like to handle data validation within Firebase Security Rules. We may be able to use `pages/api` in NextJS or even Firebase Cloud Functions, but security rules seems to be the preferred way with Firebase.

[2021-04-09 18:19] crisbnp commented on #268
I'll work on this!

[2021-04-09 18:19] crisbnp commented on #260
I can do Indonesian translations.

[2021-04-12 10:40] BogDAAAMN commented on #260
Totally into Romanian translation

[2021-04-12 19:42] drewclem commented on #260
@crisbnp @BogDAAAMN @danielcarlman

those would be amazing translations to have!!

[2021-04-18 01:06] AlexVCS commented on #264
I'm reading up on it and would like to give this a go!

[2021-04-18 04:12] drewclem opened #275 "Candidate Profile View"
## Overview

Once a candidate has created their account, they will have a publicly available profile that will display various information provided. This issue is to build the UI for that profile page.

This will need to be mobile responsive. Parts of this will also need to be dynamic depending on the data available (example: only show social icons that have links provided)

Whoever takes this iss

[2021-04-19 10:35] crisbnp commented on #275
Hey @drewclem I would love to take this. When do you need this by? I can only start working on it next week.

[2021-04-19 13:50] drewclem commented on #275
@crisbnp No hard due dates, 2 weeks sound reasonable? I'll go ahead and assign it to you.

[2021-04-23 16:03] drewclem opened #276 "Create job from company dashboard"
# Context
With the addition of user profiles, we want to give users logged in as a company the ability to post a new job listing directly from their dashboard

# Notes
- In our current post a job form, both the job and company info are part of the same form. We'll already have the company information available from the profileInfo in this case so this form should _only_ be the job specific section

[2021-04-23 16:07] drewclem opened #277 "Protected routes for user dashboards"
# Context
We only want authenticated users to be able to access either of the user dashboards

# Notes
- Ensure that company users can only access their _company_ dashboard
- Ensure that candidate user can only access their _candidate_ dashboard

# Defintion of Done

- [ ] Company and candidate dashboards are only available to authenticated logged-in users
- [ ] Non-authenticated users are redirec

[2021-04-23 18:04] drewclem opened #278 "Salary Transparency Tool"
# Context
In an effort to empower juniors further, we're going to build a salary listing page. This tool will allow users to enter information about their job (title, salary, company size, region, etc..) that we'll then list in a table for others to use in their job market research.

The idea is that juniors will be more confident to ask for proper salaries when they can see/compare what others in

[2021-04-25 00:54] AlexVCS commented on #264
I've added the JIT library to my local version of the project. I think there are more optimizations that can be done, but I'm trying to see how much CSS we're shipping to the browser with or without JIT. That way we have an idea of the benefits we'd be getting. I haven't been able to find a way how to do this yet, does anyone have ideas?

[2021-04-27 19:42] drewclem commented on #278
![Salary Transparency](https://user-images.githubusercontent.com/36208622/116302382-19251080-a76f-11eb-9316-a1059761269a.png)

[2021-04-28 04:08] drewclem opened #281 "Company Dashboard: CRUD Job listings"
# Context
Companies now have the ability to create and see job listings from their dashboard. Our next step is to give them the ability to edit, preview, and delete said job listings.

# Notes
- Jobs are already being populated into the dashboard upon creation
- Edit and Archive links are already present from the dashboard view in each job listing card
- The 'edit' page is already present in the c

[2021-04-28 04:18] drewclem opened #282 "Slugify user display names for url use"
# Context
We currently use the name given by the user _as is_ in the URL for directing to different parts of the user account.

This is problematic when there is a space in the name, which is safe to assume will be a common pattern, because the space is replaced with `%20` and we've already seen that that does not play with stripe for checkouts.

We should replace all spaces with - at the point th

[2021-04-29 01:41] jenkens-dev commented on #254
@drewclem @sethburtonhall  Would love to work on this if it's available!

[2021-04-29 12:40] drewclem commented on #254
@jenkens-dev Its all yours!!. For this task, work directly off of main so we can get it to production sooner. Staging is backed up while we work on a big feature, but this one will benefit production UI Immediately

[2021-04-29 13:03] nickytonline commented on #254
Just a reminder that once it's in main, we'll also need to get this in the develop branch so the fix is not lost.

[2021-05-02 18:29] #276 closed

[2021-05-02 19:29] #282 closed

[2021-05-12 16:02] #254 closed

[2021-05-12 16:02] #255 closed

[2021-05-12 16:03] drewclem commented on #227
Closing this for now. I don't see the added benefit at the current moment.

[2021-05-12 16:03] #227 closed

[2021-05-12 16:03] drewclem commented on #277
Closing because its a duplicate

[2021-05-12 16:03] #277 closed

[2021-05-12 17:20] seanwash commented on #268
Hey @crisbnp, are you still working on this or is it up for grabs? If it's up for grabs I can start tackling some of them!

[2021-05-12 17:30] crisbnp commented on #268
Hey @seanwash ! I started working on this but currently working another open issue. Feel free to pick this up👍

[2021-05-12 17:31] seanwash commented on #268
🙌  Awesome! I'll self assign.

[2021-05-13 03:22] drewclem opened #291 "Improve data flow for companies reviewing applicants"
# Goal

The goal of this issue is to reduce the number of requests needed during the applicant review flow.

# Context

We currently have two requests to firebase for the company flow of reviewing an active job and its applicants. One on the job detail page `/company/company_name/job_id/` and one on the reviewing applicants page `/company/company_name/job_ib/applicaton_id`.

## Notes
We have zusta

[2021-05-13 03:36] drewclem opened #292 "Keep favorited applications in sync"
## Goal

This will fix a bug in where the highlighting of the favorited icon gets out of sync between the job detail and applicant review pages

## Context

Company users have the ability to favorite applications from any view where they see the list of applicants.

Currently, if you favorite an application and then click into a detailed applicant view, the previously favorited item does not refle

[2021-05-14 20:25] javila35 commented on #215
Can I tackle this issue?

[2021-05-14 23:00] seanwash opened #296 "Address readme note about all of the required 3rd party accounts to support local development"
## Goal

What will this issue accomplish?

There's a note in the readme:

It would be great to get this ironed out. As a new contributor, I didn't realize that stripe wouldn't work until I tried to add a new job posting and checked the console for an error when the form wouldn't submit.

## Context

How will this improvement affect the application? Give plenty of context.

This could make it easie

[2021-05-14 23:13] seanwash opened #297 "A JS error is thrown if a company that is missing some information tries to post a job listing"
## Describe the bug

A JS error is thrown if a company that is missing some information tries to post a job listing.

## To Reproduce

Steps to reproduce the behavior:

1. Create a fresh organization
2. Try to post a new job listing
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

I would expect some form of validation to happen where I couldn't

[2021-05-18 16:24] AlexVCS commented on #264
@drewclem no prob! I added JIT to the postcss config and that's about it. I can push that and see if you'd like more to be changed :)

[2021-05-19 02:22] drewclem opened #300 "Limit candidates to one application per job"
## Goal

The goal here is to only allow candidates to send one application per job

## Context

How will this improvement affect the application? Give plenty of contexts.

Currently, in the app, a user can submit as many applications as they want. This could be problematic as it could easily bloat our database but also be a nightmare for companies wanting to review candidates for an application.

[2021-05-19 02:38] drewclem opened #301 "Allow candidates to build lists of techs used and projects"
## Goal

What will this issue accomplish?

This issue will give candidates the ability to add/update/remove lists of techs they're familiar with and also list projects they've built to their profile.

This will give us some additional data about the candidate that we can then use to pre-screen candidates for roles.

I've found through market research that _any_ level of pre-screening will be very

[2021-05-24 18:40] javila35 opened #304 "Job board filter slug not updating properly"
## Describe the bug

While on the job board page, using the drop down menu on the job board component to select a stack does not update the url.

While on the job board page, using the drop down menu on the navigation component updates the url but does not update the job board component.

The url and component aren't synced up.

## To Reproduce

Steps to reproduce the behavior:

1. Go to root page

[2021-05-25 03:18] drewclem commented on #246
Closed with #303

[2021-05-25 03:18] #246 closed

[2021-05-25 03:19] drewclem commented on #300
Closed with #302

[2021-05-25 03:19] #300 closed

[2021-05-25 03:20] drewclem commented on #291
#290 addresses the first two items in this issue.

There's is still a hiccup in the data flow where UI updates for favorited applications are always one tick behind

[2021-05-25 03:21] drewclem commented on #264
@AlexVCS That sounds good. Push it!

[2021-05-25 19:23] drewclem commented on #304
@javila35 Thanks for this issue! Were you wanting to work on it? Or just documenting it?

[2021-05-25 23:55] javila35 commented on #304
@drewclem I'd like work on it.

[2021-05-26 00:19] drewclem commented on #304
It's all yours @javila35!

[2021-05-26 12:08] clandau commented on #297
Hi! I'm looking into this.

[2021-05-27 15:31] clandau commented on #297
You can assign me to this.

Problem: Company accounts need to have all fields of the profile filled out, including a picture, before posting a job.
So they shouldn't get to the "post job" form as a company unless all of the data is present.

Solution:
if data isn't complete for that account, disable "Post a job" button, and add text underneath to let them know why it's disabled.

Let me know if my

[2021-05-29 03:23] drewclem commented on #304
Closed with #306

[2021-05-29 03:23] #304 closed

[2021-05-29 03:24] drewclem commented on #264
Closed with #305

[2021-05-29 03:24] #264 closed

[2021-06-10 22:38] AlexVCS commented on #292
I'd like to try and fix this bug!

[2021-06-11 20:41] drewclem commented on #292
@AlexVCS Go for it!!

[2021-06-15 03:30] carmenkolohe opened #309 "Github sign in button not working"
## Describe the bug

I went to sign up and wanted to sign in with Github. The button to sign in with Github does not seem to be working. I dug into the code and it looks like `const { currentUser, signin, signInWithGithub } = useAuth()` the `signInWithGithub` does not seem to exist.

## To Reproduce

Steps to reproduce the behavior:

1. Go to http://localhost:3000/sign-up?accountType=candidate
2.

[2021-06-15 12:22] clandau commented on #309
I have some time this week I could build this out. @drewclem

[2021-06-15 16:11] carmenkolohe commented on #309
I'd be open to working on this or enhancing it later on. Since Firebase is being used for the project, I suggest taking a look at the FirebaseUI they offer.
https://firebase.google.com/docs/auth/web/firebaseui
I have implemented the FirebaseUI for past projects. If you are open to this I can build it along with other platforms for a user to sign in with (Twitter, Google).

[2021-06-20 13:37] loganom opened #311 "Add Firestore Emulator Logs to .gitignore"
## Goal

This change adds firestore emulator logs to the .gitignore. They don't need to be committed.

## Definition of Done

- [ ] hs_err_pid280341.log file format is ignored

[2021-06-21 14:37] #311 closed

[2021-06-22 00:48] nickytonline commented on #309
When creating an account via GitHub, we'll need to ensure the same documents for a regular sign up are created.

Also note that GitHub sign in will only be available for candidates, not companies, as companies typically do not have a GitHub account, usually just GitHub organizations.

Let me know if I missed anything @drewclem.

[2021-06-22 04:07] carmenkolohe commented on #309
For the actual GitHub signin, would you be open to authenticating with Firebase like this?
`var provider = new firebase.auth.GithubAuthProvider();`
https://firebase.google.com/docs/auth/web/github-auth

[2021-06-22 04:36] nickytonline commented on #309
This makes sense to me, or are there any reservations to using Firebase's GitHub auth provider @drewclem, @sethburtonhall, @clandau?

[2021-06-22 09:17] clandau commented on #309
None here, I think it's a good idea to use Firebase auth.

[2021-06-22 18:25] Seremba commented on #268
hello @seanwash, are you working on this issue? Would love to give it a try in case you are not working on it. Thanks

[2021-06-25 03:53] #301 closed

[2021-06-25 03:54] #281 closed

[2021-06-25 03:54] #291 closed

[2021-06-25 03:55] drewclem commented on #275
@crisbnp Hey! Just checking in on this. How's it going?

Happy to pair or answer any questions.

[2021-06-30 16:46] FounderCasey opened #316 "Hide semi-transparent background upon screen resizing"
## Goal

What will this issue accomplish?

This is a minor change proposing to hide the semi-transparent nav background upon the screen size going above the breakpoint.

## Context

How will this improvement affect the application? Give plenty of context.

Currently, if your screen size changes with the mobile-nav open, you're stuck with the semi-transparent background unless you refresh or manual

[2021-07-01 04:43] drewclem commented on #316
@FounderCasey Thank you for this! I can't believe we haven't seen this already, hahaha.

[2021-07-07 00:51] sethburtonhall commented on #260
Hey friends, thanks so much for you interest in translations. Let me know how I can help. All translations are currently in one file so that is easier and we already have French!!

[2021-07-07 00:52] sethburtonhall commented on #257
@AlexVCS Still interested and available? Let me know how I can help.

[2021-07-12 16:20] #316 closed

[2021-07-16 20:17] clandau opened #322 "remove use of photoURL to store account type in firebase auth"
## Goal

We want remove use of the `photoURL` field in Firebase auth to determine the user's account type. The `photoURL` field is not intended for this, it currently doesn't check that it's a valid URL when setting it client-side, but it does when using the SDK server-side and by setting it manually (neither work to set the account type to a non-url). We anticipate it not allowing us to set this

[2021-07-16 22:08] clandau commented on #322
we most likely do need to use the custom claims, as we can't get the user object from the db without knowing the account type, so it has to be somewhere on auth.
I have the front end working.

but custom claims need to be set server-side. Unless there's some easy way to do this through next, I think the best way to go about this may be a Firebase cloud function.

[2021-07-17 04:47] nickytonline opened #323 "Upgrade to NEXT.js 11"
## Goal

Upgrades us to NEXT.js 11. See the [blog post about NEXT.js 11](https://nextjs.org/blog/next-11)

## Context

We get the improvements that NEXT.js 11 provides.

### Notes

N/A

## Definition of Done

We're upgraded to NEXT.js 11 following their [upgrade path from version 10](https://github.com/vercel/next.js/blob/canary/docs/upgrading.md).

## Out of scope

N/A

[2021-07-17 14:44] nickytonline opened #325 "On build now with NEXT.js 11, eslint runs as part of the build. Currently it's erroring out with the following lint errors. ~I will fix these as part of the upgrade @drewclem, or would you like me to disable eslint on build for now? (It's a [config setting in NEXT.js](https://nextjs.org/docs/api-reference/next.config.js/ignoring-eslint)). We could open a separate issue to fix the lint errors and once those are sorted we could reenable it.~"
On build now with NEXT.js 11, eslint runs as part of the build. Currently it's erroring out with the following lint errors. ~I will fix these as part of the upgrade @drewclem, or would you like me to disable eslint on build for now? (It's a [config setting in NEXT.js](https://nextjs.org/docs/api-reference/next.config.js/ignoring-eslint)). We could open a separate issue to fix the lint errors and o

[2021-07-19 23:13] AlexVCS commented on #257
Hey Seth, sorry for the delay. I'm still interested and available, not too familiar with Firebase. Maybe we could pair on this?

[2021-07-21 01:39] #323 closed

[2021-09-04 16:19] seanwash commented on #268
@Seremba go ahead!

[2021-09-05 12:14] nickytonline commented on #268
I've assigned it to you @Seremba. 😎

[2021-10-07 01:35] Nerajno commented on #143
Would be interested in looking into this for Hacktoberfest... @BekahHW and @nickytonline ... if y'all don't mind.

[2021-10-11 03:30] nickytonline commented on #325
@secondl1ght, yes ut still needs to be done. Assigning it to you! 😎

[2021-10-11 05:39] secondl1ght commented on #325
Alrighty thanks, fixed with PR #339!

[2021-10-11 15:52] nickytonline commented on #325
If they are unused variables, remove them. No point on keeping dead code around.

[2021-10-12 03:39] secondl1ght commented on #325
Ok and I think I should probably try building again and getting an updated output. Because I am sure things have changed to the codebase since this lint report was generated.